


/* Start Screen Layout */
#start-screen {
    background-image: url(../../assets/images/start-screen-gradient-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#start-screen-content {
    padding-top: 180px;
    padding-bottom: 0;
    align-items: flex-start;
    justify-content: space-between;
}

#not-only {
    margin-top: 163px;
    height: 322px;
    width: 460px;
}

#not-only > h2 {
    color: var(--color-light-xl);
}

#not-only h2 {
    margin: 0 0 42px 0;
}

#not-only p {
    margin: 0 0 40px 0;
    color: var(--color-dark-s);
}

/* About Section Layout */
#about-content {    
    margin: 0 175px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


#about-shelter {
    width: 430px;
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}


/* Pets Section */

#pets {
    background-color: var(--color-light-l);
}

#pets h3 {
    text-align: center;
}

#pets-content {
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    gap: 60px;
}

#pets-slider-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#pets-slider-container {
    overflow: hidden;
    width: 100%;
    margin-left: 53px;
}

#pets-slider {
    display: block;
    position: relative;
    width: 30000px;
    left: 0;
    transition: left 0.5s ease-out;
}

/* Help Section */

#help h3 {
    text-align: center;
}

#help-content {
    flex-flow: column nowrap;
    gap: 60px;
    width: 1026px;
}

ul#help-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 54px 119px;
    align-items: baseline;
    justify-content: center;    
}

ul#help-list li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 30px;
}

/* Donation Section */

#donation {
    background-color: var(--color-light-l);
}

#donation-content {
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#make-donation {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 21px;
    width: 380px;
}

#donation-link {    
    border-radius: 9px; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 15px;
    padding: 8px 15px;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 1.3;
}