:root {
    --color-primary: #F1CDB3;

    --color-dark-l: #545454;
    --color-dark-m: #B2B2B2;

    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF; 
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, p {
    color: var(--color-dark-l); 
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 130%;
    font-size: 44px;
}

h3, h4, h5 {
    letter-spacing: 0.06em;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 20px;
    line-height: 115%;
}

h5 {
    font-size: 15px;
    line-height: 110%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
    color: var(--color-dark-l);
}

p.small {
    color: var(--color-dark-m);
    font-size: 12px;
    line-height: 150%;
    font-style: italic;
}

header {
    position: absolute;
    height: 300px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 40px 50px 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#start-screen {
    background-image: url(../../assets/images/start-screen-background.png);
    background-size: cover;
}

#start-screen-content {
    padding-top: 180px;
    margin-top: 0;
}

#not-only {
    margin-top: 163px;
    margin-right: 42px;
    height: 322px;
    width: 460px;
}

#not-only > h2, #not-only > p {
    color: var(--color-light-xl);
}

#start-screen-puppy {

}

#about-pets {

}

#about-shelter {
    width: 430px;
}



/* Help Section */

#help h3 {
    text-align: center;
}

#help-content {
    flex-direction: column;
    width: 1026px;
}

ul#help-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px 80px;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-evenly;    
}

ul#help-list li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

ul#help-list img {
    margin: 0 auto;
}

/* Donation Section */

#donation {
    background-color: var(--color-light-l);
}

#make-donation {
    width: 33%;
}

#donation-link, #donation-link:hover, #donation-link:visited, #donation-link:focus {
    color: var(--color-dark-l); 
}
#donation-link {    
    background-color: var(--color-primary);
    border-radius: 9px;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px;
}

#donation-link > img {

}

#donation-link > h4 {
    margin: 0;
}


footer {
    background-image: url(../../assets/images/footer-background.png);
    background-size: cover;
}

footer h3 {
    color: var(--color-light-xl);
}

footer h4 {
    color: var(--color-primary);
}

.footer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px;    
}
