:root {
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;

    --color-dark-3xl: #292929;
    --color-dark-l: #545454;
    --color-dark-m: #B2B2B2;
    --color-dark-s: #CDCDCD;

    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF; 

    --color-modal-shadow: rgba(29, 29, 29, 0.6);

    --common-border: 2px solid var(--color-primary);
    --default-transition: 0.3s;
    --card-width: 270px;
}


body, *, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    color: var(--color-dark-l); 
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 130%;
    font-size: 44px;
}

h3, h4, h5 {
    letter-spacing: 0.06em;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 20px;
    line-height: 115%;
}

h5 {
    font-size: 15px;
    line-height: 110%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
}

p.small {
    color: var(--color-dark-m);
    font-size: 12px;
    line-height: 150%;
    font-style: italic;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
    color: var(--color-dark-l);
}

button {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px;
    background-color: var(--color-primary);
    color: var(--color-dark-3xl);
    border-radius: 100px;  
    border: none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    letter-spacing: 0.06em;
    line-height: 130%;
    font-weight: 400;
    transition-duration: 0.3s;
}

button:hover {
    background-color: var(--color-primary-light);
}

button[disabled] {
    cursor: auto;
}

button.secondary {
    background-color: var(--color-light-xl);
    border: 2px solid var(--color-primary);
    padding: 13px 43px;
}

button.secondary:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

button.secondary:disabled, button.secondary[disabled]:hover {
    border: 2px solid var(--color-dark-s);
    color: var(--color-dark-s);
    background-color: var(--color-light-s);
}

button.circle {
    padding: 0;
    min-width: 52px;
    min-height: 52px;
    font-size: 20px;
    text-align: center;
    display: block;
}

button.arrow {
    background: url(../../assets/icons/arrow.svg) no-repeat center;
}

button.right {
    transform: scaleX(-1);
}

button.close {
    background: url(../../assets/icons/close.svg) no-repeat center;
}


/* Generic Wrapper */
.wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

/* Header & Menu */

header {
    position: absolute;
    top: 60px;
    height: 60px;
    width: 100%;
}

#header-wrapper {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    white-space: nowrap;
}

.logo-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    margin: 2px 0 12px 0;
}

.logo-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-left: 4px;
    color: var(--color-light-xl);     
}

#menu ul {
    list-style: none;
    display: flex;
    margin-bottom: 2px;
}

#menu ul li {
    margin-left: 36px;
}

#menu a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    padding: 2px 0 3px 0;
    color: var(--color-dark-s);    
    transition: color var(--default-transition);
}

#menu a:hover, #menu a.highlight {
    border-bottom: 3px var(--color-primary) solid;
    color: var(--color-light-s);
}

#burger-button {
    display: none;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 22px;
    border-top: var(--common-border);
    border-bottom: var(--common-border);
    transition: transform var(--default-transition);
    z-index: 10;
}

#burger-button::after {
    content: '';
    position: absolute;
    top: 8px;
    width: 30px;
    border-top: var(--common-border);
}


/* Pet Card Design */

.pet-card {
    float: left;
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
    align-items: center;
    gap: 29px;
    background-color: var(--color-light-s);
    border-radius: 9px;
    width: var(--card-width);
    margin-right: 88px;
    padding-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}


.pet-card:hover {
    cursor: pointer;
    background-color: var(--color-light-xl);
}

.pet-card:hover button {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}


footer {
    background-image: url(../../assets/images/footer-gradient-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

footer h3 {
    color: var(--color-light-xl);
}

footer h4 {
    color: var(--color-primary);
}

#footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 160px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 0;
}

#footer-locations, #footer-contacts {
    margin-top: 16px;
    height: 234px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 30px;
}


#footer-contacts {
    width: 279px;
}

#footer-locations {
    width: 302px;
}

.footer-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    min-height: 46px;
}


/* Hide vertical scroll bars & inject backdrop when menu or modal are open */
body.menu-open, body.modal-open {
    overflow-y: hidden;
}
body.menu-open::after, body.modal-open::after {
    content: '';
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-modal-shadow);     
}  

/* Modal Window */
#modal {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body.modal-open #modal {
    display: flex;
}

@keyframes modalanimate {
    from {opacity: 0}
    to {opacity: 1}
  }

#modal-window {
    position: fixed;
    /* position: relative; */
    width: 75%;
    max-width: 900px;
    animation-name: modalanimate;
    animation-duration: 0.4s;
}

#modal-window > button {
    position: absolute;
    top: -50px;
    right: -45px;
}

#modal-content {
    background-color: var(--color-light-s);
    border-radius: 9px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#modal-content > img {
    min-width: 350px;
    width: 50%;
}

.pet-info {
    width: 50%;
    padding: 30px;
}

.pet-info > h3, .pet-info > h4 {
    margin: 0 0 10px 0;
}

.pet-info > h4, .pet-info h5 {
    margin-bottom: 50px;
}

.pet-info > ul {
    font-size: 15px;
    font-weight: bold;
    padding: 0 20px;
    list-style: none;
}

.pet-info > ul li {
    margin: 8px 0;
}

.pet-info > ul li span {
    font-weight: 400;
}

.pet-info > ul li::before {
    content: "\2022";
    color: var(--color-primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
}