@media (max-width: 1279px) {
    .wrapper {
        width: 100%;
        padding: 80px 30px 100px 30px;
    }
    header {
        top: 30px;
        left: 0px;
    }
    #header-wrapper {
        padding: 0 30px;
    }

    #start-screen-content {
        flex-direction: column;
        align-items: center;
        gap: 100px;        
        padding: 150px 20px 0px 20px;
    }
    #not-only {
        margin-top: 0px;
    }
    #not-only > button {
        margin: 0 auto;
    }
    #start-screen-puppy {
        width: 78.16%;
        align-self: flex-end;
    }
    #about-content {
        flex-direction: column-reverse;
        gap: 80px;
    }

    #pets-slider-wrapper {
        gap: calc((100vw - 768px) * 0.50);
    }

    #pets-slider-container {
        margin-left: 6px;
    }

    .pet-card {
        margin-right: 40px;
    }

    #help-content {
        width: 94%;
    }
    ul#help-list {
        display: grid;
        width: 100%;
        gap: 54px 26px;
        grid-template-columns: repeat(3, 1fr);
    }

    #donation-content {
        flex-direction: column-reverse;
        gap: 60px;
    }

    #footer-content {
        padding-top: 30px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        justify-items: center;
        row-gap: 65px;
    }
    #footer-locations {
        justify-self: start;
    }

    #footer-contacts, #footer-locations{
        margin-top: 0px;
    }
    #footer-content > img {
        grid-column: 1 / span 2;
        justify-self: center;
    }
}

@media (max-width: 767px) {
    body.menu-open {
        overflow-y: hidden;
    }
    body.menu-open::after {
        content: '';
        position: fixed;
        z-index: 4;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-modal-shadow);     
    }

    .logo {
        position: relative;
        margin-left: 0px;
        z-index: 10;
        transition: margin-left var(--default-transition);        
    }

    .logo.menu-open {
        margin-left: calc(100% - 280px);
    }

    #menu {
        position: relative;
    }  
    #menu ul {
        position: fixed;
        top: 0px;
        right: -320px;
        width: 320px;
        height: 100%;
        background-color: var(--color-dark-3xl);
        padding-top: 243px;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        transition: right var(--default-transition);
        z-index: 5;
    }

    #menu.menu-open ul {
        display: flex;
        right: 0px;
        top: 0px;        
    }

    #menu.menu-open #burger-button {
        transform: rotate(90deg);
        display: flex;
    }    

    #menu ul li {
        margin: 0px;
    }

    #menu a {
        font-size: 32px;
        padding: 0px;
    }

    #burger-button {
        display: block;
    }

    #menu.menu-open #burger-button {
        transform: rotate(90deg);
        display: flex;
    }    
    

    #footer-content {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    #footer-content > img {
        grid-column: 1 / span 1;
    }    
    #footer-contacts, #footer-locations{
        justify-self: center;
    }
}